<script lang="ts">
	import { ParticipantCard } from '$lib';
	import type { PageData } from './$types';

	export let data: PageData;
</script>

<h1>PARTICIPANTS</h1>
<div class="cards">
	{#each data.participants as item}
		<ParticipantCard data={item} />
	{/each}
</div>

<style>
	h1 {
		margin-bottom: 32px;
	}

	.cards {
		display: flex;
		flex-direction: column;
		gap: 64px;
	}

	@media only screen and (max-width: 1120px) {
		.cards {
			gap: 32px;
		}
	}
</style>
